{% extends "layout/main.html" %}

{% block content %}
<div class="large-4 large-centered columns">
    <div class="row login-container">
        <h5>{{ appConfig.name }}</h5>
        <div class="large-12 columns">
        <form action="/login" method="post">
           <div class="row">

             <div class="large-12 columns input-group">
                  <input type="text" placeholder="usuario" name="username" class="input-group-field">
                  <span class="input-group-label">@catho.com</span>
                </div>
           </div>

          <div class="row">
             <div class="large-12 columns">
                 <input type="password" name="password" placeholder="senha" />
             </div>
          </div>
          <div class="row">
            <div class="large-12 large-centered columns">
              <input type="submit" class="button expand" value="Entrar"/>
            </div>
          </div>
          {{ flashSession.output() }}
        </form>
        </div>
    </div>
</div>
{% endblock %}
