{% extends "layout/main.html" %}

{% block content %}

{% include "component/menu.html" %}

<div class="off-canvas-wrapper">

    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        {% include "component/user-painel.html" %}
        <div class="off-canvas-content" id="conteudo-painel" data-off-canvas-content>

            <h3>Novo evento</h3>

            <form>
              <div class="row novo-jogador">
                <div class="medium-6 columns">
                  <label>Nome:
                    <input type="text" placeholder="ex: Futebol 2016">
                  </label>
                  <label>Local:
                    <input type="text" placeholder="ex: Av. Batatais, 559 - Tamboré">
                  </label>
                  <label>Data/Horário:
                      <br />
                    <button class="button">Definir</button>
                  </label>
                  <label>Período (hh:mm):
                      <br />
                    <input type="text" placeholder="ex: 1:30" />
                  </label>
                  <label>Ocorrerá todo mês:
                      <br />
                    Sim <input type="radio" name="mensal" value="1" />
                    Não <input type="radio" name="mensal" value="0" checked />
                  </label>
                  <br />
                  <button class="success button">Adicionar</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
