{% extends "layout/main.html" %}

{% block content %}

{% include "component/menu.html" %}

<div class="off-canvas-wrapper">

    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        {% include "component/user-painel.html" %}
        <div class="off-canvas-content" id="conteudo-painel" data-off-canvas-content>

            <div class="row small-up-2 medium-up-3 large-up-4">
                {% include "component/card.html" with ["name": "Novo jogador", "img": "/images/icons/male.png", "link": "/jogadores"] %}
                {% include "component/card.html" with ["name": "Novo evento", "img": "/images/icons/calendar.png", "link": "/eventos"] %}
            </div>
            <hr>

            {% if proximoEvento %}
                <div class="callout">
                    <div class="row column">
                        <h3>Próximo evento</h3>
                        <p class="lead">
                            <ul>
                                <li>Nome: {{ proximoEvento.nome }}</li>
                                <li>Data: {{ proximoEvento.dataInicial }}</li>
                                <li>Local: {{ proximoEvento.local }}</li>
                            </ul>
                        </p>
                    </div>
                </div>
            {% endif %}

            <h3>Jogadores</h3>

            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Próximo evento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Caio Almeida</td>
                            <td>Confirmado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
