{% extends "layout/main.html" %}

{% block content %}

{% include "component/menu.html" %}

<div class="off-canvas-wrapper">

    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        {% include "component/user-painel.html" %}
        <div class="off-canvas-content" id="conteudo-painel" data-off-canvas-content>

            <h3>Novo jogador</h3>

            <form name="adicionar-jogador">
              <div class="row novo-jogador">
                <div class="medium-6 columns">
                  <label>Buscar por nome:
                    <input type="text" name="nome" id="nome" placeholder="ex: João" autocomplete="off">
                    <input type="hidden" name="id" id="id" value="">
                    <input type="hidden" name="departamento" id="departamento" value="devel">
                    <div class="suggest">
                    </div>
                  </label>

                    <br />
                    <button type="button" id="btn-jogador" disabled="disabled" class="success button">Adicionar</button>
                </div>
              </div>
            </form>

            <div class="row">
                <ul id="messages">

                </ul>
            </div>

            {% if jogadores.count() > 0 %}
            <h3>Jogadores</h3>

            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Departamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jogador in jogadores %}
                        <tr>
                            <td>{{ jogador.nome }}</td>
                            <td>{{ jogador.departamento }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    {{ super() }}
    <script src="/soccer-company-event/js/jogadores-suggest.js"></script>
    <script src="/soccer-company-event/js/jogadores.js"></script>
{% endblock %}
