<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ appConfig.name }}{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" href="soccer-company-event/css/app.css">
        {% endblock %}
    </head>
    <body>

        {% block content %}
        {% endblock %}

        {% block script %}
            <script src="soccer-company-event/bower_components/jquery/dist/jquery.js"></script>
            <script src="soccer-company-event/bower_components/what-input/what-input.js"></script>
            <script src="soccer-company-event/bower_components/foundation-sites/dist/foundation.js"></script>
            <script src="soccer-company-event/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
            <script src="soccer-company-event/js/app.js"></script>
        {% endblock %}
    </body>
</html>
